/* Tablet and larger */

@media screen and (max-width: 768px) {
    header h1 {
        word-wrap: break-word;
        font-size: 2rem;
    }
    footer {
        display: inline-block;
    }
}


/* Phone and smaller */

@media screen and (max-width: 768px) {}