/* Resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h2 {}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}


/* Header Begin */

header {
    background: #444444;
    color: white;
    align-items: center;
    justify-content: space-between;
    display: flex;
    height: 100px;
    padding: 0 30px;
    width: 100%;
}

header h1 {
    font-size: 50px;
}

header nav ul {
    flex-direction: row;
    display: flex;
}

header nav ul li {
    padding: 10px 20px;
}

header nav ul li a {
    font-size: 1.3rem;
    color: white;
}

header nav ul li a:hover {
    color: rgba(255, 255, 255, 0.7);
}


/* Header End*/


/* Footer Begin */

footer {
    background: #444444;
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0 30px;
    width: 100%;
    font-size: 15px;
}

footer p a {
    color: white;
}


/* Footer End */